/* Base Styles */
.footer_main_div {
  padding: 0px 0px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--border-gray-color);
  color: var(--light-gray-color);
  padding: 50px 70px;
  border-radius: 20px 20px 0 0;
  font-family: var(--Tommay-font-1);
  font-weight: 500;
  width: 100%;
}

.footer-left {
  width: 20%;
}

.footer-center {
  display: flex;
  gap: 30px;
  width: 40%;
  justify-content: center;
}

.footer-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.Link_tag {
  text-decoration: none;
  color: var(--light-gray-color);
  font-size: 16px;
  transition: color 0.3s ease;
}

.Link_tag:hover {
  color: var(--main-color); /* Add hover effect to the links */
}

/* Large Screens (Desktop) */
@media (max-width: 1200px) {
  .footer-container {
    padding: 40px 50px;
  }

  .footer-nav a {
    font-size: 14px;
  }

  .footer-info p {
    font-size: 12px;
  }
}

/* Tablets (768px - 1200px) */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
  }

  .footer-left,
  .footer-center,
  .footer-info {
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-logo {
    max-height: 50px;
  }

  .footer-center {
    flex-direction: column;
    gap: 15px;
  }

  .footer-info {
    gap: 15px;
  }

  .Link_tag {
    font-size: 14px;
  }

  .footer-info div {
    font-size: 12px;
  }
}

/* Small Screens (Mobile) */
@media (max-width: 500px) {
  .footer-container {
    padding: 30px 10px;
  }

  .footer-logo {
    max-height: 35px;
  }

  .footer-left,
  .footer-center,
  .footer-info {
    width: 100%;
    text-align: center;
  }

  .footer-center {
    margin-top: 20px;
  }

  .Link_tag {
    font-size: 12px;
  }

  .footer-info div {
    font-size: 10px;
  }
  .footer-info {
    margin-top: 30px;
  }
}
