.investment_top_main_div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px;
}
.investment_top_title{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 100px;
    font-family: var(--Tommay-font-1);
}

.investment_top_mesaage{
    text-align: center;
    font-size: 18px;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-weight: 300;
    color: var(--border-gray-color);
    font-family: var(--Paradroid-Mono-2);
    width: 50%;
}

.investment_top_video_div{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    overflow: hidden;
    border-radius: 30px;
    margin-top: 30px;

}

.investment_top_video{
    width: 100%;
    border-radius: 20px;
}