.keyfeature_main_div{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--white-color);
    gap: 40px;
    font-family: var(--Paradroid-Mono-2);
}

.keyfeature_mesaage_main_div{
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 80%;
}

.keyfeature_mesaage_div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-weight: 600;
    font-size: 15px;
}
.keyfeature_mesaage_main_div_for_advantages{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-weight: 500;
    font-size: 16px;
}

.keyfeature_video_div{
    width: 100%;
}
.keyfeature_video{
    width: 100%;
    border-radius: 20px;
}